@font-face {
  font-family: Shorelines Script;
  src: url("../assets/fonts/menu/Shorelines\ Script\ Bold.otf");
}

@font-face {
  font-family: Erika Type;
  src: url("../assets/fonts/texto/Erika-Type_OFICIAL.ttf");
}

@font-face {
  font-family: Erika Type Bold;
  src: url("../assets/fonts/texto/Erika\ Type_BNegrito.ttf");
}

@font-face {
  font-family: Stella;
  src: url("../assets/fonts/titulo/Stella.ttf");
}