.buttonLocal{
  
}

.timer-div{
  padding-top: 600px;

  p{
    font-size: 25px;
  }
}

.local-description{
  padding-top: 450px;
}

.container-localizacao{
  color: white;
  background: url('../assets/images/restaurante/gustto-local.jpg') center no-repeat;
  background-size: cover;
}

.container-sua-conta{
  color: white;
  background: url('../assets/images/restaurante/gustto-food.jpg') center no-repeat;
  background-size: cover;
}

.font-menu{
  font-family: Shorelines Script, sans-serif;
  font-size: 50px;
}

.font-title{
  font-family: Stella, sans-serif;
}

.font-food-title{
  font-family: Erika Type Bold, sans-serif;
  font-size: 25px;
}

.font-text{
  font-family: Erika Type, sans-serif;
  font-size: 16px;
}

.casamento-logo-header{
  width: 80px;
  height: 100%;
}

.arrowDown{
  width: 100px;
}